/**
 * Button
 */


button,
input[type=submit],
input[type=button],
input[type=reset],
[role=button] {
  -webkit-appearance: button;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  padding: .7rem 1.2rem;
  display: inline-block;
  border: var(--primary--color);
  border-radius: var(--form-element-border-radius);
  outline: none;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: none;
  color: var(--primary-inverse-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

:is(
  button,
  input[type=submit],
  input[type=button],
  input[type=reset],
  [role=button]
  ):is([aria-current], :hover, :active, :focus) {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
  box-shadow: var(--form-element-focus-outline-boxshadow);
}

:is(
  button,
  [type=submit],
  [type=button],
  [type=reset],
  [role=button]
  )[disabled],
fieldset[disabled] :is(
  button,
  [type=submit],
  [type=button],
  [type=reset],
  [role=button]
  ),
a[role=button]:not([href]) {
  opacity: 0.5;
  pointer-events: none;
}

:is(
  button,
  input[type=submit],
  input[type=button],
  input[type=reset],
  [role=button]
).ghost {
  background-color: transparent;
  color: var(--primary-color);
}

:is(
  button,
  input[type=submit],
  input[type=button],
  input[type=reset],
  [role=button]
).ghost:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--primary-hover-color);
}