:root { 
  --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E")
}


[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  width: 1.4rem;
  height: 1.4rem;
  padding:0;
  border-radius: .3rem;
  background-color: var(--bg-secondary-color);
  border: 2px solid var(--hint-color);
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

[type=radio] {
  border-radius: 50%;
}


:is([type=checkbox], [type=radio])::-ms-check {
  display: none;
}

:is([type=checkbox], [type=radio]):is(
  :active,
  :focus
  ) {
    box-shadow: var(--form-element-focus-outline-boxshadow);
  }

[type=checkbox]:is(
  :checked,
  :checked:active,
  :checked:focus
  ) {
  border-color: var(--primary-color);
  border-width: 2px;
  background-color: var(--primary-color);
  background-image: var(--icon-checkbox);
  background-position: center;
  background-size: 0.75rem auto;
  background-repeat: no-repeat;
}

[type=radio]:is(
  :checked,
  :checked:active,
  :checked:focus
  ) {
  border-color: var(--primary-color);
  background-color: var(--primary-inverse-color);
  border-width: 0.35rem;
}

[type=checkbox]:indeterminate {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  background-image: var(--icon-minus);
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}

:is([type=checkbox], [type=radio])~label {
  display: inline-block;
  margin-right: 0.375em;
  margin-bottom: 0;
  cursor: pointer;
}

:is([type=checkbox], [type=radio]):is(
  [aria-invalid=false],
  :checked[aria-invalid=false]
) {
  --border-color: var(--form-element-valid-border-color);
}

:is([type=checkbox], [type=radio]):is(
  [aria-invalid=true],
  :checked[aria-invalid=true]
) {
  --border-color: var(--form-element-invalid-border-color);
}