input:is(
  [type=text],
  [type=password],
  [type=email],
  [type=search],
  [type=number],
  [type=url],
  [type=date],
  [type="datetime-local"],
  [type=tel],
  [type=time],
  [type=week],
  [type=month],
  [type=color]
),
textarea {
  box-sizing: border-box;
  border: var(--form-element-border);
  border-radius: var(--form-element-border-radius);
  outline: none;
  padding: .7rem 1rem;
  background-color: var(--bg-secondary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  transition: border-color var(--transition), box-shadow var(--transition);
}

input:is(
  [type=text],
  [type=password],
  [type=email],
  [type=search],
  [type=number],
  [type=url],
  [type=date],
  [type="datetime-local"],
  [type=tel],
  [type=time],
  [type=week],
  [type=month],
  [type=color]
):focus,
textarea:focus {
  border: var(--form-element-focus-border);
  box-shadow: var(--form-element-focus-outline-boxshadow);
}