:root {
  --switch-background-color: hsl(205deg, 16%, 77%);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

[type=checkbox][role=switch] {
  --border-width: .2em;
  --background-color: var(--switch-background-color);
  --border-color: var(--switch-background-color);
  --color: var(--switch-color);
  width: 2.25em;
  height: 1.25em;
  border: var(--border-width) solid var(--border-color);
  border-radius: 1.25em;
  background-color: var(--background-color);
  position: relative;
}
[type=checkbox][role=switch]:focus {
  --background-color: var(--switch-background-color);
  --border-color: var(--switch-background-color);
}
[type=checkbox][role=switch]:checked {
  --background-color: var(--switch-checked-background-color);
  --border-color: var(--switch-checked-background-color);
}
[type=checkbox][role=switch]:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: .85em;
  height: .85em;
  border-radius: 50%;
  background-color: var(--color);
  transition: right left 0.1s ease-in-out;
}
[type=checkbox][role=switch]:checked {
  background-image: none;
}
[type=checkbox][role=switch]:checked::before {
  right: 0;
}

[type=checkbox][role=switch][aria-invalid=false],
[type=checkbox][role=switch]:checked[aria-invalid=false] {
  --border-color: var(--form-element-valid-border-color);
}

[type=checkbox][role=switch][aria-invalid=true],
[type=checkbox][role=switch]:checked[aria-invalid=true] {
  --border-color: var(--form-element-invalid-border-color);
}