
[type=checkbox][role=switch] {
  width: 2.3rem;
  height: 1.3rem;
  box-sizing: border-box;
  border: .2rem solid var(--hint-color);
  border-radius: .65rem;
  background-color: var(--hint-color);
  position: relative;
}

[type=checkbox][role=switch]:checked {
  background-image: none;
  border-width: .2rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

[type=checkbox][role=switch]:is(
  [aria-invalid=false],
  :checked[aria-invalid=false]
) {
  border-color: var(--form-element-valid-border-color);
}

[type=checkbox][role=switch]:is(
  [aria-invalid=true],
  :checked[aria-invalid=true]
) {
  border-color: var(--form-element-invalid-border-color);
}

[type=checkbox][role=switch]::before {
  content: "";
  position: absolute;
  left: 0;
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background-color: var(--primary-inverse-color);
  transition: left var(--transition);
}

[type=checkbox][role=switch]:checked::before {
  left: 1rem;
}

